@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-pink: #93007b;
  --color-text: #333333;
  --header-height: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: linear-gradient(
    180deg,
    #e9e9ea 0%,
    #d2d3d4 30%,
    #d2d3d4 70%,
    #e9e9ea 100%
  );
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  z-index: 9999;
  position: fixed;
  background: #e9e9ea;
  height: var(--header-height);
}

.line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  display: block;
  width: 100%;
  max-width: 1400px;
  height: 2px;
  background-color: var(--color-text);
  margin: 92px 0;
}

.initial-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin-top: calc(var(--header-height) + 72px);
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 15px 25px 0px rgba(0, 0, 0, 0.288);
  max-width: 250px;
  max-height: 250px;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  left: -24px;
  padding: 24px;
  background-color: #ffffffef;
  z-index: 1;
}
.title-div img {
  width: 100%;
  z-index: 1;
}
.initial-section article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.greetings-article {
  position: relative;
}

.greetings-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
  min-height: 500px;
}
.greetings-div .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  padding-bottom: 24px;
  min-height: 400px;
}
.greetings-div .background .background-color {
  background: #37022c;
  transform: skewY(-10deg) translateY(-20vh);
  width: 100%;
  height: 100%;
}
.greeting-img-div {
  z-index: 1;
}
.greetings-div img {
  width: 100%;
  max-width: 800px;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 340px;
}

.button-home {
  margin-top: 28px;
  border-radius: 4px;
  padding: 12px;
  border: none;
  background-color: #92007a;
  color: white;
  font-size: 0.83rem;
}

.button-home:hover {
  background-color: #be18a3;
}

.default-title {
  font-size: 3.75rem;
  color: var(--color-text);
  text-align: start;
  font-weight: 800;
}

.greetings-div .default-title {
  min-width: 400px;
  z-index: 1;
}
.initial-section article p {
  font-size: 28px;
  color: var(--color-text);
  font-weight: bold;
  padding-top: 8px;
}

.about {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about .default-title {
  margin-bottom: 80px;
}

.first-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.first-information p {
  font-size: 2.5rem;
  color: var(--color-text);
  text-align: justify;
  line-height: 2;
}

.first-information img {
  margin: 0;
  max-width: 500px;
  width: 100%;
}

.invert-text {
  text-align: end;
}

.line-between {
  border-top: 2px solid var(--color-text);
  width: 100%;
}
.title-container {
  display: inline-block;
}

.products-container {
  padding: 50px 50px 20px 50px;
}

.title-product {
  color: var(--color-text);
  display: inline-block;
  font-size: 70px;
}
.description-product {
  color: var(--color-text);
}

.products {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.products p {
  margin-top: 80px;
  font-size: 2.4rem;
  color: #363636;
  text-align: justify;
  line-height: 2;
}

.h-padding {
  padding: 0 20px;
}

.h-padding-2 {
  padding: 0 36px;
}

.contact {
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact p {
  margin-top: 80px;
  font-size: 1.8rem;
  color: #363636;
}

.contacts-forms {
  padding: 200px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social img {
  height: 16px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input {
  background: transparent;
  border: 1px solid black;
  font-size: 1rem;
  padding: 12px;
  width: 400px;
  border-radius: 14px;

  &::placeholder {
    font-size: 13px;
  }
}
textarea {
  background: transparent;
  border: 1px solid black;
  font-size: 1rem;
  padding: 12px;
  width: 100%;
  border-radius: 14px;

  &::placeholder {
    font-size: 13px;
  }
}

button {
  align-self: flex-end;
  background: rgb(3, 204, 3);
  font-size: 1rem;
  border: none;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(3, 204, 3);
  padding: 12px;
  width: 40%;
  border-radius: 14px;
  cursor: pointer;

  &:hover {
    background: rgb(0, 255, 0);
    box-shadow: 0px 0px 10px 0px rgb(0, 255, 0);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  text-align: center;
}

@media (max-width: 1200px) {
  .greetings-div img {
    width: 50vw;
  }

  .title-product, description-product {
    font-size: 50px;
  }

  .products-container{
    padding: 0;
  }
}

@media (max-width: 860px) {
  .greetings-div img {
    bottom: 72px;
  }

  .first-information {
    flex-direction: column;
    gap: 24px;
  }

  .first-information.second {
    flex-direction: column-reverse;
  }

  .first-information p,
  .products p {
    font-size: 28px;
  }

  .about article {
    align-items: center;
  }

  .contacts-forms {
    flex-direction: column-reverse;
    gap: 40px;
  }

  form,
  input {
    width: 100%;
  }

    .title-product, description-product {
    font-size: 30px;
  }
    .products-container{
      padding: 0;
    }
}

@media (max-width: 513px) {
  .default-title {
    font-size: 44px;
  }
  .greetings-div img {
    width: 70%;
    min-width: 270px;
    min-width: 0;
    margin: 0 auto;
    left: 0;
  }

  .title-product, description-product {
    font-size: 24px;
  }

  ..products-container {
    padding: 0;
  }
}
